<%= turbo_frame_tag dom_id(note) do %>
<div class="note">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= note.body %>
  </p>

  <p>
    <strong>Project:</strong>
    <% if @project.present? %>
      <%= note.project.title %>
    <% else %>
      <%= link_to note.project.title, project_path(note.project), target: '_blank' %>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_note_path(note), data: { turbo_frame: dom_id(note) }, class: 'btn btn-primary' %>
  <%= link_to 'Destroy', note, data: { turbo_method: "delete", turbo_frame: dom_id(note) } %>

</div>
<% end %>