<% content_for :title, @project.title %>
<%= render @project %>

<div>
  <%= render 'sub_projects_link', project: @project %> |
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Back", (@project.parent_project_id.nil? ? projects_path : project_path(@project.parent_project_id)) %> |
  <%= link_to "Destroy", @project, data: { turbo_method: :delete } %>
</div>
<hr/>

<h2>Notes</h2>
<%= turbo_stream_from @project %>
<div id="notes">
  <%= render @project.notes.by_rank %>
</div>
