<% content_for :title, @project.title %>
<%= render @project %>

<div>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Back", projects_path %> |
  <%= link_to "Destroy", @project, data: { turbo_method: :delete } %>
</div>
<hr/>

<h2>Notes</h2>
<%= turbo_stream_from @project %>
<div id="notes">
  <%= render @project.notes.by_rank %>
</div>

<div>
  <h3>New Note</h3>
  <%= render 'projects/new_note', note: @project.notes.new %>
</div>
